
.center_true {
	text-align: center;
	list-style-position: inside;
}

.center_block {
	margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.pageHeader {
	text-decoration: underline;
	color: white;
	background: black;

}
.bio {

}

.contact {
	border-style: solid;
	border-width: 5px;
	border-color: black;
}

.profilePic {
	height: 250px;
	width: 200px;
}
